:root {
    color-scheme: light dark;

    --background: #2e2e2e;
    --comments: #797979;
    --white: #d6d6d6;
    --yellow: #e5b56775;
    --green: #b4d27378;
    --orange: #e87c3e76;
    --purple: #af58ff;
    --pink: #b05279;
    --blue: #6c99bb;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--background);
        color: var(--white);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #0E1116;
    color: #EAE8FF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #0E1116;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #EAE8FF;

}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0px 0px;
    display: none;
    overflow: hidden;
    background-color: #030101;
    color: #030101;
}

.workspace_data {
    white-space: pre;
}

.past_workspace {
    width: 49.9%;
    float: left;
    background-color: #726DA8;
}

.current_workspace {
    width: 49.9%;
    float: right;
    background-color: #88D498;

}

.workspace_title {
    text-align: center;
    padding-top: 10px;
}


/* python difflib table stylings */

table.diff {
    /* font-family: Courier;
    border: medium; */
}

.diff_header {
    background-color: var(--background)
}

td.diff_header {
    text-align: right
}

.diff_next {
    background-color: var(--purple)
}

.diff_add {
    background-color: var(--green)
}

.diff_chg {
    background-color: var(--yellow)
}

.diff_sub {
    background-color: var(--orange)
}